@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Joan&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#F5E2C8;
    display: flex;
}

.leftPanel{
    width: 30%;
    background-color: #303036;
    height: 100vh;

    display: flex;
    flex-direction: column;

    position: relative;

}

.headText{
    height: 3rem;
    background-color: #050401;
    color: #FC5130;
    text-align: center;
    font-family: "Roboto";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.rightPanel{
    margin-left: 6rem;
    margin-top: 3rem;

    position: relative;

}

.addBtn{
    width: 13rem;
    height: 3rem;
    border-radius: 17px;
    border: none;
    background: #623CEA;
    font-size: 30px;
    color: whitesmoke;
    font-family: "Roboto";
    font-weight: 300;

}

.projectTitle{
    color: #000;
    text-align: center;
    font-family: "Joan";
    font-size: 2.5rem;
    font-weight: 100;
    text-align: left;
}

.projectStack{
    margin-top: 2rem;
    display: flex;
    height: 100%;

    flex-direction: column;

    align-items: center;
}

#addTask{
    position: absolute;
    left:40rem;
    top:1.5px;

    display: none;
}

#addProject{
    margin-top: 1.5rem;
    align-self: center;
}

.project{
    background-color: whitesmoke;

    

    margin-top: 1.75rem;
    width: 70%;
    /* height: 5%; */
    min-height: 5%;
    max-height: 10%;

    text-align: center;
    font-family: "Joan";
    font-size: 1.85rem;

    border-radius: 10px;
}

.taskStack{
    margin-top: 3rem;
}

.task{
    display: flex;
    background-color: #303036;
    width: auto;
    height: 2.3rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    /* justify-content: space-evenly; */
}

.taskName{
    width: 43rem;
    font-family: 'Inter';
    font-size: 17px;
    text-align: left;
    color: #f5e2c8;
    padding: 0.5rem;
    padding-left: 1rem;
}


.taskStatus{
    background-color: #FC5130;
    /* background-color: #50A563;
    background-color: #E2C807; */
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    
}

.Dialog{
    margin: auto;
    border-radius: 17px;
    border: #623CEA;

    padding: 2rem;
    

    /* display: flex; */
}

.projectNameInput{
    height: 3rem;
    border-radius: 17px 0 0 17px;
    border: 0px solid black;
    background-color: #dccbb4;
    width: 20rem;
    padding: 5px;

    margin-right: 0;

    font-size: 1.5rem;
}

#pDialogSubmit{
    border-radius: 0 17px 17px 0;
    width: 5rem;
    height: 58px;

    margin-left: 0;
}

/* #delete{
    background-image: url("./images/trash.svg");
    background-size: contain;
    height: 40px;
    width: 40px;
    background-color: #F5E2C8;
    background-repeat: no-repeat;
} */

.delete{
    background-image: url("./images/trash.svg");
    height: 33.8px;
    width: 36.8px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1rem;
    background-position: center;
}
.fullTask{
    display: flex;
    /* flex-direction: row-reverse; */
}

#taskDialog{

    width: 25rem;

}

.taskForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskSubmitBtn{
    width: 6rem;
    height: 2rem;
    font-size: 1.4rem;

}

.taskNameInput,
.submit,
.priorityDiv{
    margin: 1rem;
}

.taskLabel{
    font-family: 'Joan';
    margin-bottom: 0;

    font-size: 18px;
}

.taskNameInput{
    height: 1.5rem;
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;

    font-size: 18px;
    width: 20rem;
}

.priorityDiv{
    display: flex;

}

.priority{
    margin-left: 8px;
}